.excuse1 {
  margin: 10px;
  text-align: center;
  width: 100%;
  border: #145b55;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(240, 243, 194);
  color: #147214;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 80vh;
  margin: 20px;
  border: 50px;
  font-size: 2.0em;
}

#excuse {
  font-size: 2.0em;
  background-color: #a7eee8;
  padding: 30px;


}